[popover] {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: var(--s-color-background-surface-4);

    /* &:not(:popover-open) {} */

    /* &:popover-open {} */
}

#anchor-element {
    border: 1px solid red;
}
