.tag-edit-icon {
    color: var(--s-color-background-icon-subtle);
    transition: color 0.2s ease;

    &:hover {
        color: var(--s-color-background-info);
    }
}

.tag-delete-icon {
    color: var(--s-color-background-icon-subtle);
    transition: color 0.2s ease;

    &:hover {
        color: var(--s-color-background-danger);
    }
}

.tag-save-icon {
    color: var(--s-color-background-info);
}
