.divider {
    flex-shrink: 0;
    width: 100%;
    height: 2px;
    background-color: var(--s-color-border-subtle);
}

.divider-vertical {
    flex-shrink: 0;
    width: 2px;
    height: 100%;
    background-color: var(--s-color-border-subtle);
}
