.visual-novel-card__menu {
    position: absolute;
    z-index: 1;
    top: 0.5rem;
    right: 0.5rem;

    padding: var(--s-size-padding-xs);
    border: var(--s-size-border-sm) solid var(--s-color-border-default);
    border-radius: var(--s-size-radius-lg);

    font-size: var(--s-size-font-3);

    visibility: hidden;
    background-color: hsl(from var(--s-color-background-surface-1) h s l / 50%);
    backdrop-filter: blur(var(--s-size-blur));

    &:hover {
        background-color: hsl(
            from var(--s-color-background-surface-1) h s l /
            30%
        );
    }

    &:active {
        background-color: hsl(
            from var(--s-color-background-surface-1) h s l /
            80%
        );
    }
}

.visual-novel-card {
    isolation: isolate;
    position: relative;

    overflow: hidden;

    width: 300px;
    height: 400px;
    border-radius: var(--s-size-radius-lg);

    &.running {
        outline: var(--s-size-border-lg) solid var(--s-color-background-info);
    }

    &:hover .visual-novel-card__menu {
        visibility: visible;
    }
}

.visual-novel-card__status {
    --alpha: 60%;

    user-select: none;

    position: absolute;
    z-index: 1;
    top: 0.5rem;
    left: 0.5rem;

    padding: var(--s-size-padding-xs);
    border: var(--s-size-border-sm) solid var(--s-color-border-default);
    border-radius: var(--s-size-radius-lg);

    font-size: var(--s-size-font-3);

    backdrop-filter: blur(var(--s-size-blur));

    &.playing {
        border-color: var(--s-color-status-playing);
        color: color-mix(in hsl, var(--s-color-status-playing), black 40%);
        background-color: hsl(
            from var(--s-color-status-playing) h s l /
            var(--alpha)
        );
    }

    &.finished {
        border-color: var(--s-color-status-finished);
        color: color-mix(in hsl, var(--s-color-status-finished), black 40%);
        background-color: hsl(
            from var(--s-color-status-finished) h s l /
            var(--alpha)
        );
    }

    &.dropped {
        border-color: var(--s-color-status-dropped);
        color: color-mix(in hsl, var(--s-color-status-dropped), black 40%);
        background-color: hsl(
            from var(--s-color-status-dropped) h s l /
            var(--alpha)
        );
    }

    &.backlog {
        border-color: var(--s-color-status-backlog);
        color: color-mix(in hsl, var(--s-color-status-backlog), black 40%);
        background-color: hsl(
            from var(--s-color-status-backlog) h s l /
            var(--alpha)
        );
    }
}

.visual-novel-card__cover {
    user-select: none;

    width: 100%;
    height: 100%;

    object-fit: cover;

    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.visual-novel-card__info {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: var(--s-size-padding-sm);

    background-color: hsl(from var(--s-color-background-surface-2) h s l / 80%);
    backdrop-filter: blur(var(--s-size-blur));
}

.visual-novel-card__title {
    overflow: hidden;
    color: var(--s-color-foreground-default);
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.visual-novel-card__description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;

    min-height: 3rem;

    font-size: var(--s-size-font-3);
    line-height: 1.5rem;
    color: var(--s-color-foreground-secondary);
}

.visual-novel-card__tags {
    min-height: 2rem;
    max-height: 2rem;
}

.visual-novel-card__tag {
    overflow: hidden;

    padding: var(--s-size-padding-xxs);
    border-radius: var(--s-size-radius-md);

    font-size: var(--s-size-font-3);
    color: var(--s-color-foreground-tertiary);
    text-overflow: ellipsis;
    text-wrap: nowrap;

    background-color: var(--s-color-background-surface-3);
}

.visual-novel-card__icon {
    font-size: var(--s-size-font-3);
    color: var(--s-color-background-icon-subtle);

    & > svg {
        width: 1em;
        height: 1em;
    }
}

.visual-novel-card__button {
    &.playable {
        background-color: var(--s-color-background-success);

        &:hover {
            background-color: var(--s-color-background-success-hovered);
        }

        &:active {
            background-color: var(--s-color-background-success-pressed);
        }
    }

    &.running {
        background-color: var(--s-color-background-info);

        &:hover {
            background-color: var(--s-color-background-info-hovered);
        }

        &:active {
            background-color: var(--s-color-background-info-pressed);
        }
    }

    &.missing-on-disk {
        background-color: var(--s-color-background-danger);

        &:hover {
            background-color: var(--s-color-background-danger-hovered);
        }

        &:active {
            background-color: var(--s-color-background-danger-pressed);
        }
    }
}
