.visual-novel-card__menu_trigger {
    position: absolute;
    z-index: 1;
    top: 0.5rem;
    right: 0.5rem;

    padding: var(--s-size-padding-xs);
    border: var(--s-size-border-sm) solid transparent;
    border-radius: var(--s-size-radius-lg);

    font-size: var(--s-size-font-3);

    background-color: hsl(from var(--s-color-background-surface-1) h s l / 10%);

    &:hover {
        background-color: hsl(
            from var(--s-color-background-surface-1) h s l /
            30%
        );
    }

    &:active {
        background-color: hsl(
            from var(--s-color-background-surface-1) h s l /
            50%
        );
    }
}

.visual-novel-card__menu {
    z-index: 1;
    color: inherit;

    & > button {
        justify-content: flex-start;
        text-wrap: nowrap;
        background: none;
    }
}

.visual-novel-card {
    isolation: isolate;
    position: relative;

    overflow: hidden;

    width: 300px;
    height: 400px;
    border-top-left-radius: var(--s-size-radius-lg);
    border-top-right-radius: var(--s-size-radius-lg);

    &.running {
        outline: var(--s-size-border-lg) solid var(--s-color-background-info);
    }
}

.visual-novel-card__status {
    --alpha: 60%;
    --black: 20%;
    --white: 30%;
    --playing-fg: color-mix(
        in hsl,
        var(--s-color-status-playing),
        black var(--black)
    );
    --finished-fg: color-mix(
        in hsl,
        var(--s-color-status-finished),
        black var(--black)
    );
    --dropped-fg: color-mix(
        in hsl,
        var(--s-color-status-dropped),
        black var(--black)
    );
    --backlog-fg: color-mix(
        in hsl,
        var(--s-color-status-backlog),
        black var(--black)
    );
    --playing-bg: color-mix(
        in hsl,
        var(--s-color-status-playing),
        white var(--white)
    );
    --finished-bg: color-mix(
        in hsl,
        var(--s-color-status-finished),
        white var(--white)
    );
    --dropped-bg: color-mix(
        in hsl,
        var(--s-color-status-dropped),
        white var(--white)
    );
    --backlog-bg: color-mix(
        in hsl,
        var(--s-color-status-backlog),
        white var(--white)
    );

    user-select: none;

    position: absolute;
    z-index: 1;
    top: 0.5rem;
    left: 0.5rem;

    padding: var(--s-size-padding-xs);
    border: var(--s-size-border-sm) solid var(--s-color-border-default);
    border-radius: var(--s-size-radius-lg);

    font-size: var(--s-size-font-3);
    font-weight: var(--fw-bold);

    backdrop-filter: blur(var(--s-size-blur));

    &.playing {
        border-color: var(--playing-fg);
        color: var(--playing-fg);
        background-color: hsl(from var(--playing-bg) h s l / var(--alpha));
    }

    &.finished {
        border-color: var(--finished-fg);
        color: var(--finished-fg);
        background-color: hsl(from var(--finished-bg) h s l / var(--alpha));
    }

    &.dropped {
        border-color: var(--dropped-fg);
        color: var(--dropped-fg);
        background-color: hsl(from var(--dropped-bg) h s l / var(--alpha));
    }

    &.backlog {
        border-color: var(--backlog-fg);
        color: var(--backlog-fg);
        background-color: hsl(from var(--backlog-bg) h s l / var(--alpha));
    }
}

.visual-novel-card__cover {
    user-select: none;

    width: 100%;
    height: 100%;

    object-fit: cover;

    transition: transform 0.2s ease 0.1s;

    &:hover {
        transform: scale(1.1);
    }
}

.visual-novel-card__info {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: var(--s-size-padding-sm);

    background-color: hsl(from var(--s-color-background-surface-2) h s l / 80%);
    backdrop-filter: blur(var(--s-size-blur));
}

.visual-novel-card__title {
    overflow: hidden;
    color: var(--s-color-foreground-default);
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.visual-novel-card__tags {
    min-height: 2rem;
    max-height: 2rem;
    padding: var(--s-size-padding-xxs);
}

.visual-novel-card__tag {
    overflow: hidden;

    padding: var(--s-size-padding-xxs);
    border-radius: var(--s-size-radius-md);

    font-size: var(--s-size-font-3);
    color: var(--s-color-foreground-tertiary);
    text-overflow: ellipsis;
    text-wrap: nowrap;

    background-color: var(--s-color-background-surface-3);
}

.visual-novel-card__icon {
    font-size: var(--s-size-font-3);
    color: var(--s-color-background-icon-subtle);

    & > svg {
        width: 1em;
        height: 1em;
    }
}

.visual-novel-card__button {
    &.playable {
        background-color: var(--s-color-background-success);

        &:hover {
            background-color: var(--s-color-background-success-hovered);
        }

        &:active {
            background-color: var(--s-color-background-success-pressed);
        }
    }

    &.running {
        background-color: var(--s-color-background-info);

        &:hover {
            background-color: var(--s-color-background-info-hovered);
        }

        &:active {
            background-color: var(--s-color-background-info-pressed);
        }
    }

    &.missing-on-disk {
        background-color: var(--s-color-background-danger);

        &:hover {
            background-color: var(--s-color-background-danger-hovered);
        }

        &:active {
            background-color: var(--s-color-background-danger-pressed);
        }
    }
}
