.modal-container {
    position: fixed;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--s-color-background-overlay);
}

.modal-body {
    width: var(--s-size-modal-width);
    height: var(--s-size-modal-height);
    padding: var(--s-size-padding-lg);
    border: var(--s-size-border-sm) solid var(--s-color-border-subtle);
    border-radius: var(--s-size-radius-lg);

    background-color: hsl(from var(--s-color-background-surface-1) h s l / 30%);
    backdrop-filter: blur(var(--s-size-blur));
}

.modal-anim-enter-active {
    transition: opacity 0.3s ease-out;

    .modal-body {
        transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    }
}

.modal-anim-exit-active {
    transition: opacity 0.3s ease-out;

    .modal-body {
        transition: transform 0.3s ease-out;
    }
}

.modal-anim-enter-from,
.modal-anim-exit-to {
    opacity: 0;
}

.modal-anim-enter-to .modal-body,
.modal-anim-exit-from .modal-body {
    transform: scale(0.9) translateY(10px);
}
