.modal-container {
    position: fixed;
    z-index: 999;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--s-color-background-overlay);
}

.modal-body {
    will-change: transform, opacity, filter;

    position: relative;

    width: 95vw;
    height: 95vh;
    padding: var(--s-size-padding-lg);
    border-radius: var(--s-size-radius-lg);

    background-color: hsl(from var(--s-color-background-surface-1) h s l / 80%);
    background-image: url("/random-noise.svg");
    backdrop-filter: blur(var(--s-size-blur));

    &::before {
        content: "";

        position: absolute;
        z-index: -1;
        inset: 0;

        border: var(--s-size-border-md) solid transparent;
        border-radius: inherit;

        background: linear-gradient(
                var(--s-color-background-surface-1),
                var(--s-color-background-surface-3)
            )
            border-box;

        mask:
            linear-gradient(hsl(0deg 0 0 / 50%)) border-box,
            linear-gradient(hsl(0deg 0 0 / 50%)) padding-box;
        mask-composite: subtract;
    }
}
