* {
    box-sizing: border-box;
    min-width: 0;
    margin: 0;
}

/* :root {
} */

html {
    scrollbar-gutter: stable;

    overscroll-behavior: none;

    font-family: "Ioskeley Mono", monospace;
    line-height: 1.5;
    color: var(--s-color-foreground-default);

    background-color: var(--s-color-background-page);
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

input,
textarea {
    padding: var(--s-size-padding-sm) var(--s-size-padding-md);
    border: var(--s-size-border-sm) solid var(--s-color-border-subtle);
    border-radius: var(--s-size-radius-md);

    color: var(--s-color-foreground-default);

    background-color: hsl(from var(--s-color-background-surface-4) h s l / 40%);
    outline: none;
}

input:hover,
textarea:hover {
    background-color: hsl(
        from var(--s-color-background-surface-4-hovered) h s l /
        40%
    );
}

input:focus,
textarea:focus {
    border-color: var(--s-color-border-default);
    background-color: hsl(
        from var(--s-color-background-surface-4-pressed) h s l /
        40%
    );
}

input::placeholder,
textarea::placeholder {
    color: var(--s-color-foreground-quaternary);
}

select {
    cursor: pointer;

    padding: var(--s-size-padding-sm) var(--s-size-padding-md);
    border: var(--s-size-border-sm) solid var(--s-color-border-subtle);
    border-radius: var(--s-size-radius-md);

    color: var(--s-color-foreground-default);

    background-color: hsl(from var(--s-color-background-surface-4) h s l / 40%);
    outline: none;

    &:hover {
        background-color: hsl(
            from var(--s-color-background-surface-4-hovered) h s l /
            40%
        );
    }
}

option {
    color: var(--s-color-foreground-default);
    background-color: var(--s-color-background-surface-4);

    &:checked {
        color: var(--s-color-foreground-default);
        background-color: var(--s-color-background-brand);
    }
}

button {
    cursor: pointer;
    user-select: none;

    display: flex;
    gap: var(--s-size-gap-sm);
    align-items: center;
    justify-content: center;

    padding: var(--s-size-padding-sm) var(--s-size-padding-md);
    border: none;
    border-radius: var(--s-size-radius-md);

    color: var(--s-color-foreground-default);

    background-color: var(--s-color-background-surface-4);

    &:hover {
        background-color: var(--s-color-background-surface-4-hovered);
    }

    &:active {
        background-color: var(--s-color-background-surface-4-pressed);
    }
}

.button-primary {
    background-color: var(--s-color-background-brand);

    &:hover {
        background-color: var(--s-color-background-brand-hovered);
    }

    &:active {
        background-color: var(--s-color-background-brand-pressed);
    }
}

.button-danger {
    background-color: var(--s-color-background-danger);

    &:hover {
        background-color: var(--s-color-background-danger-hovered);
    }

    &:active {
        background-color: var(--s-color-background-danger-pressed);
    }
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: var(--s-size-gap-lg);
    margin: var(--s-size-margin-lg);
}

.input-error {
    border-color: var(--s-color-border-danger);
    color: var(--s-color-foreground-danger);
}
