/* stylelint-disable */

:root {
    /* Primitives - Main */
    --gray-50: hsl(0, 0%, 95%);
    --gray-100: hsl(0, 0%, 90%);
    --gray-200: hsl(0, 0%, 80%);
    --gray-300: hsl(0, 0%, 70%);
    --gray-400: hsl(0, 0%, 60%);
    --gray-500: hsl(0, 0%, 50%);
    --gray-600: hsl(0, 0%, 40%);
    --gray-700: hsl(0, 0%, 30%);
    --gray-800: hsl(0, 0%, 20%);
    --gray-900: hsl(0, 0%, 10%);
    --gray-1000: hsl(0, 0%, 5%);
    --red-50: hsl(0, 44%, 95%);
    --red-100: hsl(0, 45%, 90%);
    --red-200: hsl(0, 45%, 80%);
    --red-300: hsl(0, 45%, 70%);
    --red-400: hsl(0, 45%, 60%);
    --red-500: hsl(0, 45%, 50%);
    --red-600: hsl(0, 45%, 40%);
    --red-700: hsl(0, 45%, 30%);
    --red-800: hsl(0, 45%, 20%);
    --red-900: hsl(0, 45%, 10%);
    --red-1000: hsl(0, 44%, 5%);
    --orange-50: hsl(38, 44%, 95%);
    --orange-100: hsl(39, 45%, 90%);
    --orange-200: hsl(39, 45%, 80%);
    --orange-300: hsl(39, 45%, 70%);
    --orange-400: hsl(39, 45%, 60%);
    --orange-500: hsl(39, 45%, 50%);
    --orange-600: hsl(39, 45%, 40%);
    --orange-700: hsl(39, 45%, 30%);
    --orange-800: hsl(39, 45%, 20%);
    --orange-900: hsl(39, 45%, 10%);
    --orange-1000: hsl(38, 44%, 5%);
    --yellow-50: hsl(60, 44%, 95%);
    --yellow-100: hsl(60, 45%, 90%);
    --yellow-200: hsl(60, 45%, 80%);
    --yellow-300: hsl(60, 45%, 70%);
    --yellow-400: hsl(60, 45%, 60%);
    --yellow-500: hsl(60, 45%, 50%);
    --yellow-600: hsl(60, 45%, 40%);
    --yellow-700: hsl(60, 45%, 30%);
    --yellow-800: hsl(60, 45%, 20%);
    --yellow-900: hsl(60, 45%, 10%);
    --yellow-1000: hsl(60, 44%, 5%);
    --green-50: hsl(120, 44%, 95%);
    --green-100: hsl(120, 45%, 90%);
    --green-200: hsl(120, 45%, 80%);
    --green-300: hsl(120, 45%, 70%);
    --green-400: hsl(120, 45%, 60%);
    --green-500: hsl(120, 45%, 50%);
    --green-600: hsl(120, 45%, 40%);
    --green-700: hsl(120, 45%, 30%);
    --green-800: hsl(120, 45%, 20%);
    --green-900: hsl(120, 45%, 10%);
    --green-1000: hsl(120, 44%, 5%);
    --cyan-50: hsl(180, 44%, 95%);
    --cyan-100: hsl(180, 45%, 90%);
    --cyan-200: hsl(180, 45%, 80%);
    --cyan-300: hsl(180, 45%, 70%);
    --cyan-400: hsl(180, 45%, 60%);
    --cyan-500: hsl(180, 45%, 50%);
    --cyan-600: hsl(180, 45%, 40%);
    --cyan-700: hsl(180, 45%, 30%);
    --cyan-800: hsl(180, 45%, 20%);
    --cyan-900: hsl(180, 45%, 10%);
    --cyan-1000: hsl(180, 44%, 5%);
    --blue-50: hsl(224, 44%, 95%);
    --blue-100: hsl(219, 45%, 90%);
    --blue-200: hsl(220, 45%, 80%);
    --blue-300: hsl(220, 45%, 70%);
    --blue-400: hsl(220, 45%, 60%);
    --blue-500: hsl(220, 45%, 50%);
    --blue-600: hsl(220, 45%, 40%);
    --blue-700: hsl(220, 45%, 30%);
    --blue-800: hsl(220, 45%, 20%);
    --blue-900: hsl(219, 45%, 10%);
    --blue-1000: hsl(218, 44%, 5%);
    --violet-50: hsl(267, 44%, 95%);
    --violet-100: hsl(269, 45%, 90%);
    --violet-200: hsl(270, 45%, 80%);
    --violet-300: hsl(270, 45%, 70%);
    --violet-400: hsl(270, 45%, 60%);
    --violet-500: hsl(270, 45%, 50%);
    --violet-600: hsl(270, 45%, 40%);
    --violet-700: hsl(270, 45%, 30%);
    --violet-800: hsl(270, 45%, 20%);
    --violet-900: hsl(271, 45%, 10%);
    --violet-1000: hsl(273, 44%, 5%);
    --purple-50: hsl(300, 44%, 95%);
    --purple-100: hsl(300, 45%, 90%);
    --purple-200: hsl(300, 45%, 80%);
    --purple-300: hsl(300, 45%, 70%);
    --purple-400: hsl(300, 45%, 60%);
    --purple-500: hsl(300, 45%, 50%);
    --purple-600: hsl(300, 45%, 40%);
    --purple-700: hsl(300, 45%, 30%);
    --purple-800: hsl(300, 45%, 20%);
    --purple-900: hsl(300, 45%, 10%);
    --purple-1000: hsl(300, 44%, 5%);
    --pink-50: hsl(333, 44%, 95%);
    --pink-100: hsl(331, 45%, 90%);
    --pink-200: hsl(330, 45%, 80%);
    --pink-300: hsl(330, 45%, 70%);
    --pink-400: hsl(330, 45%, 60%);
    --pink-500: hsl(330, 45%, 50%);
    --pink-600: hsl(330, 45%, 40%);
    --pink-700: hsl(330, 45%, 30%);
    --pink-800: hsl(330, 45%, 20%);
    --pink-900: hsl(329, 45%, 10%);
    --pink-1000: hsl(327, 44%, 5%);
    --transparent: rgba(255, 255, 255, 0);

    /* Semantics - Dark */
    --color-app-fg: var(--color-text-primary);
    --color-app-bg: var(--gray-1000);
    --color-surface-base: var(--gray-900);
    --color-surface-raised: var(--gray-800);
    --color-surface-overlay: var(--gray-700);
    --color-surface-floating: var(--gray-600);
    --color-border-none: var(--transparent);
    --color-modal-bg: var(--color-surface-base);
    --color-modal-dim-bg: rgba(26, 26, 26, 0.6);
    --color-border-base: var(--gray-600);
    --color-surface-sunken: var(--gray-900);
    --color-border-muted: var(--gray-400);
    --color-border-strong: var(--gray-200);
    --color-border-divider: var(--gray-700);
    --color-accent-base: var(--blue-500);
    --color-accent-hover: var(--blue-400);
    --color-accent-active: var(--blue-600);
    --color-accent-muted: var(--blue-300);
    --color-text-primary: var(--gray-50);
    --color-text-secondary: var(--gray-300);
    --color-text-muted: var(--gray-500);
    --color-text-dark: var(--gray-700);
    --color-text-inverse: var(--gray-50);
    --color-button-fg: var(--color-text-inverse);
    --color-button-bg-hover: var(--gray-600);
    --color-button-bg-active: var(--gray-800);
    --color-button-primary-hover: var(--color-accent-hover);
    --color-button-primary-active: var(--color-accent-active);
    --color-button-secondary-hover: var(--violet-400);
    --color-button-secondary-active: var(--violet-600);
    --color-button-bg: var(--gray-700);
    --color-button-primary: var(--color-accent-base);
    --color-button-secondary: var(--violet-500);
    --color-status-runable-fg: var(--color-text-inverse);
    --color-status-runable-bg: var(--green-500);
    --color-status-runable-border: var(--green-500);
    --color-status-running-fg: var(--color-text-inverse);
    --color-status-running-bg: var(--blue-500);
    --color-status-running-border: var(--blue-500);
    --color-status-playing-fg: var(--green-600);
    --color-status-playing-bg: var(--green-500);
    --color-status-playing-border: var(--color-status-playing-fg);
    --color-status-finished-fg: var(--blue-600);
    --color-status-finished-bg: var(--blue-500);
    --color-status-finished-border: var(--color-status-finished-fg);
    --color-status-dropped-fg: var(--red-600);
    --color-status-dropped-bg: var(--red-500);
    --color-status-dropped-border: var(--color-status-dropped-fg);
    --color-status-backlog-fg: var(--gray-600);
    --color-input-fg: var(--color-text-primary);
    --color-input-bg: rgba(26, 26, 26, 0.5);
    --color-status-backlog-bg: var(--gray-500);
    --color-status-backlog-border: var(--color-status-backlog-fg);
    --color-input-placeholder: var(--color-text-muted);
    --color-input-bg-hover: var(--color-surface-floating);
    --color-input-border-focus: var(--color-accent-base);
    --color-input-error-fg: var(--color-input-fg);
    --color-input-warning-fg: var(--color-input-fg);
    --color-input-error-border: var(--red-600);
    --color-input-warning-border: var(--yellow-600);
    --color-input-border: var(--color-border-base);
    --color-state-disabled-fg: var(--color-text-inverse);
    --color-state-disabled-bg: var(--gray-500);
    --color-state-disabled-overlay: rgba(153, 153, 153, 0.4);
    --color-progress-bg: var(--transparent);
    --color-progress-fill: var(--color-accent-base);
    --color-progress-spinner-bg: var(--color-accent-base);
    --color-progress-spinner-muted: var(--color-text-muted);
    --color-tooltip-fg: var(--color-text-secondary);
    --color-tooltip-bg: var(--color-surface-floating);
    --color-tooltip-border: var(--color-border-base);
    --color-intent-danger-fg: var(--color-text-inverse);
    --color-intent-danger-bg: var(--red-500);
    --color-intent-danger-hover: var(--red-400);
    --color-intent-danger-active: var(--red-600);
    --color-intent-warning-fg: var(--color-text-inverse);
    --color-intent-warning-bg: var(--yellow-500);
    --color-intent-warning-hover: var(--yellow-400);
    --color-intent-warning-active: var(--yellow-600);
    --color-intent-success-fg: var(--color-text-inverse);
    --color-intent-success-bg: var(--green-500);
    --color-intent-success-hover: var(--green-400);
    --color-intent-success-active: var(--green-600);
    --color-intent-info-fg: var(--color-text-inverse);
    --color-intent-info-bg: var(--blue-500);
    --color-intent-info-hover: var(--blue-400);
    --color-intent-info-active: var(--blue-600);
    --color-icon-primary: var(--color-text-primary);
    --color-icon-muted: var(--color-text-muted);
    --color-icon-inverse: var(--color-text-inverse);
    --size-margin-xs: 8px;
    --size-margin-sm: 12px;
    --size-margin-md: 16px;
    --size-margin-lg: 24px;
    --size-margin-xl: 32px;
    --size-gap-xs: 4px;
    --size-padding-2xs: 4px;
    --size-padding-xs: 8px;
    --size-padding-sm: 12px;
    --size-padding-md: 16px;
    --size-padding-lg: 20px;
    --size-padding-xl: 24px;
    --size-padding-inline-sm: 12px;
    --size-padding-inline-md: 16px;
    --size-padding-inline-lg: 20px;
    --size-padding-block-sm: 8px;
    --size-padding-block-md: 12px;
    --size-padding-block-lg: 16px;
    --size-gap-sm: 8px;
    --size-gap-md: 12px;
    --size-gap-lg: 16px;
    --size-gap-xl: 24px;
    --size-radius-none: 0px;
    --size-radius-xs: 4px;
    --size-radius-sm: 6px;
    --size-radius-md: 8px;
    --size-radius-lg: 12px;
    --size-radius-xl: 16px;
    --size-radius-full: 9999px;
    --size-radius-button: var(--size-radius-sm);
    --size-radius-input: var(--size-radius-sm);
    --size-radius-modal: var(--size-radius-sm);
    --size-radius-card: var(--size-radius-sm);
    --size-radius-menu: var(--size-radius-sm);
    --size-radius-menu-item: var(--size-radius-sm);
    --size-radius-media: var(--size-radius-sm);
    --size-radius-badge: var(--size-radius-xl);
    --size-border-none: 0px;
    --size-border-hairline: 0.5px;
    --size-border-thin: 1px;
    --size-border-medium: 2px;
    --size-border-thick: 4px;
    --size-control-xs: 28px;
    --size-control-sm: 32px;
    --size-control-md: 36px;
    --size-control-lg: 40px;
    --size-control-xl: 44px;
    --size-icon-xs: 12px;
    --size-icon-sm: 16px;
    --size-icon-md: 20px;
    --size-icon-lg: 24px;
    --size-icon-xl: 32px;
    --size-container-sm: 320px;
    --size-container-md: 480px;
    --size-container-lg: 640px;
    --size-container-xl: 800px;
    --color-status-unplayed-fg: var(--yellow-600);
    --color-status-unplayed-bg: var(--yellow-500);
    --color-status-unplayed-border: var(--color-status-unplayed-fg);
}
