/* stylelint-disable */

:root {
    /* Primitives - Main */
    --p-color-gray-50: hsl(0, 0%, 95%);
    --p-color-gray-100: hsl(0, 0%, 90%);
    --p-color-gray-150: hsl(0, 0%, 85%);
    --p-color-gray-200: hsl(0, 0%, 80%);
    --p-color-gray-250: hsl(0, 0%, 75%);
    --p-color-gray-300: hsl(0, 0%, 70%);
    --p-color-gray-350: hsl(0, 0%, 65%);
    --p-color-gray-400: hsl(0, 0%, 60%);
    --p-color-gray-450: hsl(0, 0%, 55%);
    --p-color-gray-500: hsl(0, 0%, 50%);
    --p-color-gray-550: hsl(0, 0%, 45%);
    --p-color-gray-600: hsl(0, 0%, 40%);
    --p-color-gray-650: hsl(0, 0%, 35%);
    --p-color-gray-700: hsl(0, 0%, 30%);
    --p-color-gray-750: hsl(0, 0%, 25%);
    --p-color-gray-800: hsl(0, 0%, 20%);
    --p-color-gray-850: hsl(0, 0%, 15%);
    --p-color-gray-900: hsl(0, 0%, 10%);
    --p-color-gray-950: hsl(0, 0%, 5%);
    --p-color-gray-1000: hsl(0, 0%, 0%);
    --p-color-red-50: hsl(0, 44%, 95%);
    --p-color-red-100: hsl(0, 45%, 90%);
    --p-color-red-200: hsl(0, 45%, 80%);
    --p-color-red-300: hsl(0, 45%, 70%);
    --p-color-red-400: hsl(0, 45%, 60%);
    --p-color-red-500: hsl(0, 45%, 50%);
    --p-color-red-600: hsl(0, 45%, 40%);
    --p-color-red-700: hsl(0, 45%, 30%);
    --p-color-red-800: hsl(0, 45%, 20%);
    --p-color-red-900: hsl(0, 45%, 10%);
    --p-color-red-1000: hsl(0, 44%, 5%);
    --p-color-orange-50: hsl(38, 44%, 95%);
    --p-color-orange-100: hsl(39, 45%, 90%);
    --p-color-orange-200: hsl(39, 45%, 80%);
    --p-color-orange-300: hsl(39, 45%, 70%);
    --p-color-orange-400: hsl(39, 45%, 60%);
    --p-color-orange-500: hsl(39, 45%, 50%);
    --p-color-orange-600: hsl(39, 45%, 40%);
    --p-color-orange-700: hsl(39, 45%, 30%);
    --p-color-orange-800: hsl(39, 45%, 20%);
    --p-color-orange-900: hsl(39, 45%, 10%);
    --p-color-orange-1000: hsl(38, 44%, 5%);
    --p-color-yellow-50: hsl(60, 44%, 95%);
    --p-color-yellow-100: hsl(60, 45%, 90%);
    --p-color-yellow-200: hsl(60, 45%, 80%);
    --p-color-yellow-300: hsl(60, 45%, 70%);
    --p-color-yellow-400: hsl(60, 45%, 60%);
    --p-color-yellow-500: hsl(60, 45%, 50%);
    --p-color-yellow-600: hsl(60, 45%, 40%);
    --p-color-yellow-700: hsl(60, 45%, 30%);
    --p-color-yellow-800: hsl(60, 45%, 20%);
    --p-color-yellow-900: hsl(60, 45%, 10%);
    --p-color-yellow-1000: hsl(60, 44%, 5%);
    --p-color-green-50: hsl(120, 44%, 95%);
    --p-color-green-100: hsl(120, 45%, 90%);
    --p-color-green-200: hsl(120, 45%, 80%);
    --p-color-green-300: hsl(120, 45%, 70%);
    --p-color-green-400: hsl(120, 45%, 60%);
    --p-color-green-500: hsl(120, 45%, 50%);
    --p-color-green-600: hsl(120, 45%, 40%);
    --p-color-green-700: hsl(120, 45%, 30%);
    --p-color-green-800: hsl(120, 45%, 20%);
    --p-color-green-900: hsl(120, 45%, 10%);
    --p-color-green-1000: hsl(120, 44%, 5%);
    --p-color-cyan-50: hsl(180, 44%, 95%);
    --p-color-cyan-100: hsl(180, 45%, 90%);
    --p-color-cyan-200: hsl(180, 45%, 80%);
    --p-color-cyan-300: hsl(180, 45%, 70%);
    --p-color-cyan-400: hsl(180, 45%, 60%);
    --p-color-cyan-500: hsl(180, 45%, 50%);
    --p-color-cyan-600: hsl(180, 45%, 40%);
    --p-color-cyan-700: hsl(180, 45%, 30%);
    --p-color-cyan-800: hsl(180, 45%, 20%);
    --p-color-cyan-900: hsl(180, 45%, 10%);
    --p-color-cyan-1000: hsl(180, 44%, 5%);
    --p-color-blue-50: hsl(224, 44%, 95%);
    --p-color-blue-100: hsl(219, 45%, 90%);
    --p-color-blue-200: hsl(220, 45%, 80%);
    --p-color-blue-300: hsl(220, 45%, 70%);
    --p-color-blue-400: hsl(220, 45%, 60%);
    --p-color-blue-500: hsl(220, 45%, 50%);
    --p-color-blue-600: hsl(220, 45%, 40%);
    --p-color-blue-700: hsl(220, 45%, 30%);
    --p-color-blue-800: hsl(220, 45%, 20%);
    --p-color-blue-900: hsl(219, 45%, 10%);
    --p-color-blue-1000: hsl(218, 44%, 5%);
    --p-color-violet-50: hsl(267, 44%, 95%);
    --p-color-violet-100: hsl(269, 45%, 90%);
    --p-color-violet-200: hsl(270, 45%, 80%);
    --p-color-violet-300: hsl(270, 45%, 70%);
    --p-color-violet-400: hsl(270, 45%, 60%);
    --p-color-violet-500: hsl(270, 45%, 50%);
    --p-color-violet-600: hsl(270, 45%, 40%);
    --p-color-violet-700: hsl(270, 45%, 30%);
    --p-color-violet-800: hsl(270, 45%, 20%);
    --p-color-violet-900: hsl(271, 45%, 10%);
    --p-color-violet-1000: hsl(273, 44%, 5%);
    --p-color-purple-50: hsl(300, 44%, 95%);
    --p-color-purple-100: hsl(300, 45%, 90%);
    --p-color-purple-200: hsl(300, 45%, 80%);
    --p-color-purple-300: hsl(300, 45%, 70%);
    --p-color-purple-400: hsl(300, 45%, 60%);
    --p-color-purple-500: hsl(300, 45%, 50%);
    --p-color-purple-600: hsl(300, 45%, 40%);
    --p-color-purple-700: hsl(300, 45%, 30%);
    --p-color-purple-800: hsl(300, 45%, 20%);
    --p-color-purple-900: hsl(300, 45%, 10%);
    --p-color-purple-1000: hsl(300, 44%, 5%);
    --p-color-pink-50: hsl(333, 44%, 95%);
    --p-color-pink-100: hsl(331, 45%, 90%);
    --p-color-pink-200: hsl(330, 45%, 80%);
    --p-color-pink-300: hsl(330, 45%, 70%);
    --p-color-pink-400: hsl(330, 45%, 60%);
    --p-color-pink-500: hsl(330, 45%, 50%);
    --p-color-pink-600: hsl(330, 45%, 40%);
    --p-color-pink-700: hsl(330, 45%, 30%);
    --p-color-pink-800: hsl(330, 45%, 20%);
    --p-color-pink-900: hsl(329, 45%, 10%);
    --p-color-pink-1000: hsl(327, 44%, 5%);
    --p-color-transparent: rgba(255, 255, 255, 0);

    /* Semantics - Mode 1 */
    --s-color-foreground-default: var(--p-color-gray-50);
    --s-color-foreground-default-on-color: var(--p-color-gray-800);
    --s-color-foreground-secondary: var(--p-color-gray-400);
    --s-color-foreground-tertiary: var(--p-color-gray-550);
    --s-color-foreground-quaternary: var(--p-color-gray-650);
    --s-color-foreground-brand: var(--s-color-background-brand);
    --s-color-foreground-success: var(--s-color-background-success);
    --s-color-foreground-info: var(--s-color-background-info);
    --s-color-foreground-warning: var(--s-color-background-warning);
    --s-color-foreground-danger: var(--s-color-background-danger);
    --s-color-background-page: var(--p-color-gray-950);
    --s-color-background-surface-1: var(--p-color-gray-900);
    --s-color-background-surface-2: var(--p-color-gray-850);
    --s-color-background-surface-3: var(--p-color-gray-800);
    --s-color-background-surface-4: var(--p-color-gray-750);
    --s-color-background-overlay: rgba(0, 0, 0, 0.5);
    --s-color-background-selected: var(--p-color-blue-400);
    --s-color-background-disabled: var(--p-color-gray-350);
    --s-color-background-shimmer: var(--p-color-gray-300);
    --s-color-background-brand: var(--p-color-blue-500);
    --s-color-background-success: var(--p-color-green-500);
    --s-color-background-info: var(--p-color-blue-500);
    --s-color-background-warning: var(--p-color-yellow-500);
    --s-color-background-danger: var(--p-color-red-500);
    --s-color-background-category-1: var(--p-color-red-400);
    --s-color-background-category-2: var(--p-color-orange-400);
    --s-color-background-category-3: var(--p-color-yellow-400);
    --s-color-background-category-4: var(--p-color-green-400);
    --s-color-background-category-5: var(--p-color-cyan-400);
    --s-color-background-category-6: var(--p-color-blue-400);
    --s-color-background-category-7: var(--p-color-violet-400);
    --s-color-background-category-8: var(--p-color-pink-400);
    --s-color-background-surface-1-hovered: var(--p-color-gray-850);
    --s-color-background-surface-1-pressed: var(--p-color-gray-950);
    --s-color-background-surface-2-hovered: var(--p-color-gray-800);
    --s-color-background-surface-2-pressed: var(--p-color-gray-900);
    --s-color-background-surface-3-hovered: var(--p-color-gray-750);
    --s-color-background-surface-3-pressed: var(--p-color-gray-900);
    --s-color-background-surface-4-hovered: var(--p-color-gray-700);
    --s-color-background-surface-4-pressed: var(--p-color-gray-800);
    --s-color-background-brand-subtle: var(--p-color-blue-300);
    --s-color-background-brand-hovered: var(--p-color-blue-400);
    --s-color-background-brand-pressed: var(--p-color-blue-600);
    --s-color-background-success-subtle: var(--p-color-green-300);
    --s-color-background-icon: var(--s-color-foreground-default);
    --s-color-background-success-hovered: var(--p-color-green-400);
    --s-color-background-success-pressed: var(--p-color-green-600);
    --s-color-background-info-subtle: var(--p-color-blue-300);
    --s-color-background-info-hovered: var(--p-color-blue-400);
    --s-color-background-info-pressed: var(--p-color-blue-600);
    --s-color-background-warning-subtle: var(--p-color-yellow-300);
    --s-color-background-warning-hovered: var(--p-color-yellow-400);
    --s-color-background-warning-pressed: var(--p-color-yellow-600);
    --s-color-background-danger-subtle: var(--p-color-red-300);
    --s-color-background-danger-hovered: var(--p-color-red-400);
    --s-color-background-danger-pressed: var(--p-color-red-600);
    --s-color-on-background-brand: var(--s-color-foreground-default-on-color);
    --s-color-on-background-brand-subtle: var(--p-color-blue-700);
    --s-color-on-background-success: var(--s-color-foreground-default-on-color);
    --s-color-on-background-success-subtle: var(--p-color-green-700);
    --s-color-on-background-info: var(--s-color-foreground-default-on-color);
    --s-color-on-background-info-subtle: var(--p-color-blue-700);
    --s-color-on-background-warning: var(--s-color-foreground-default-on-color);
    --s-color-on-background-warning-subtle: var(--p-color-yellow-700);
    --s-color-on-background-danger: var(--s-color-foreground-default-on-color);
    --s-color-on-background-danger-subtle: var(--p-color-red-700);
    --s-color-on-background-icon: var(--s-color-foreground-default-on-color);
    --s-color-on-background-icon-subtle: var(--s-color-background-icon-subtle);
    --s-size-font-1: 8px;
    --s-size-font-2: 12px;
    --s-size-font-3: 14px;
    --s-size-font-4: 16px;
    --s-size-font-5: 20px;
    --s-size-font-6: 24px;
    --s-size-font-7: 32px;
    --s-size-radius-none: 0px;
    --s-size-radius-sm: 2px;
    --s-size-radius-md: 4px;
    --s-size-radius-lg: 8px;
    --s-size-radius-round: 50px;
    --s-size-border-none: 0px;
    --s-color-border-default: var(--p-color-gray-500);
    --s-size-border-xs: 0.5px;
    --s-size-border-sm: 1px;
    --s-color-border-subtle: var(--p-color-gray-700);
    --s-color-border-success: var(--s-color-background-success);
    --s-size-border-md: 2px;
    --s-size-border-lg: 4px;
    --s-color-border-info: var(--s-color-background-info);
    --s-color-border-warning: var(--s-color-background-warning);
    --s-size-padding-none: 0px;
    --s-size-padding-xxs: 2px;
    --s-color-border-danger: var(--s-color-background-danger);
    --s-color-link-default: var(--p-color-blue-500);
    --s-size-padding-xs: 4px;
    --s-size-padding-sm: 8px;
    --s-color-link-hovered: var(--p-color-blue-400);
    --s-size-padding-md: 12px;
    --s-color-link-pressed: var(--p-color-blue-600);
    --s-color-link-disabled: var(--p-color-blue-300);
    --s-size-padding-lg: 24px;
    --s-size-padding-xl: 32px;
    --s-color-link-on-color-default: var(--s-color-foreground-default-on-color);
    --s-color-link-on-color-hovered: var(--p-color-gray-600);
    --s-size-padding-xxl: 48px;
    --s-size-padding-xxxl: 80px;
    --s-color-link-on-color-pressed: var(--p-color-gray-750);
    --s-size-margin-none: 0px;
    --s-color-link-on-color-disabled: var(--p-color-gray-500);
    --s-color-focus-outline: var(--s-color-background-brand);
    --s-size-margin-xxs: 2px;
    --s-color-focus-on-color: var(--p-color-gray-400);
    --s-size-margin-xs: 4px;
    --s-color-status-runnable: var(--s-color-background-success);
    --s-size-margin-sm: 8px;
    --s-color-status-running: var(--s-color-background-info);
    --s-size-margin-md: 12px;
    --s-color-status-playing: var(--s-color-background-success);
    --s-size-margin-lg: 24px;
    --s-size-margin-xl: 32px;
    --s-color-status-finished: var(--s-color-background-info);
    --s-size-margin-xxl: 48px;
    --s-color-status-dropped: var(--s-color-background-danger);
    --s-color-status-backlog: var(--s-color-background-disabled);
    --s-size-margin-xxxl: 80px;
    --s-size-gap-none: 0px;
    --s-size-icon-xs: 4px;
    --s-size-gap-sm: 8px;
    --s-size-blur: 16px;
    --s-size-gap-md: 12px;
    --s-size-gap-lg: 16px;
    --s-size-gap-xl: 24px;
    --s-size-icon-sm: 8px;
    --s-size-icon-md: 12px;
    --s-size-icon-lg: 24px;
    --s-size-icon-xl: 32px;
    --s-color-background-icon-subtle: var(--p-color-gray-500);
    --s-color-background-icon-hovered: var(--p-color-gray-50);
    --s-color-background-icon-pressed: var(--p-color-gray-450);
}
